/////////////////////////////////////////////////////////////

//NAVBAR

// .top-border {
//   border-top: 5px solid var(--color-primary);
//   position: sticky;
//   top: 0;
//   z-index: 1010;
// }

.nav {
  background-color: rgb(255, 255, 255);
  z-index: 1000;
  position: sticky;
  top: 0;
  border-bottom: 1.5px solid var(--color-primary);
  height: 110px;

  transition: var(--nav-transition);
  transform: translateY(0%);

  font-family: "Laila", sans-serif;

  &__title {
    transition: var(--nav-transition);
    font-size: 3.5rem;
    color: var(--color-primary-dark);
    font-weight: 300;
    // transform: translateY(0%);
    // transform: translateX(-50%);
  }

  &__logo {
    transition: var(--nav-transition);
    height: 10rem;
    margin: 0;
  }

  &__container {
    transition: var(--nav-transition);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 5rem;

    &--left {
      display: flex;
      align-items: center;
      width: 80rem;
      margin-left: 2rem;
    }
  }

  &__items {
    transition: var(--nav-transition);
    display: flex;
    align-content: center;
    height: 50px;
  }

  &__t {
    list-style-type: none;
    display: flex;
    align-content: center;
    height: 50px;
  }

  &__item {
    transition: var(--nav-transition);

    font-size: 2rem;
    display: flex;
    align-items: center;

    margin-right: 2rem;
    text-decoration: none;
    list-style-type: none;

    &,
    &:link,
    &:visited {
      text-decoration: none;
      color: red;
    }
  }
}

// /////////////////////////////////////////////////////////////

//HEADER

.header-title-insert {
  background-color: var(--color-gray-dark-3);
  height: auto;
  text-align: center;

  font-size: 6rem;
  font-family: "ultraregular", sans-serif;
  color: var(--artificia-blue);
  text-shadow: var(--artificia-blue-text-glow);
}

.header-subtitle-insert {
  background-color: var(--color-gray-dark-3);
  height: 7rem;
  padding-bottom: 3rem;
  text-align: center;
  word-spacing: 2rem;

  font-size: 3rem;
  font-family: "ultraregular", sans-serif;
  color: var(--color-gray-dark-1);
}

.header {
  // background-color: rgb(36, 36, 36);
  // border-radius: 15px 50px;
  background-color: var(--color-primary-light);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  position: relative;

  border-top: 3rem solid var(--color-gray-dark-3);
  border-bottom: 3rem solid var(--color-gray-dark-3);

  background-color: #000;
  box-shadow: inset 3px 6px 15px #000;

  .hero-container {
    width: 100vw;
    z-index: 0;

    display: flex;
    justify-content: center;

    .hero {
      width: 100%;

      max-width: 1200px;
    }
  }

  &__description {
    background-color: var(--color-gray-dark-3);
    flex: 0 0 5rem;
    border-radius: 2rem 2rem 0 0;
    border-width: 5px;
    border-style: solid none none none;
    border-color: var(--color-gray-dark-2);

    padding-left: 0.5rem;

    // clip-path: polygon(0 0, 90% 0, 71% 100%, 0 100%);

    text-align: center;
    position: absolute;
    height: 25%;
    width: 40%;
    top: 75%;
    left: 25%;
    transform: translateX(-50%);

    text-transform: uppercase;
    font-family: "ultraregular", sans-serif;
    font-weight: normal;
    font-style: normal;

    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__title {
    text-align: center;
    font-size: 7vh;
    color: var(--artificia-blue);
    text-shadow: var(--artificia-blue-text-glow);
    margin-bottom: -15px;
  }

  &__body {
    font-size: 3rem;
    word-spacing: 1rem;
  }
}

// /////////////////////////////////////////////////////////////

//BACKGROUND GRADIENT
.background-gradient {
  // background-color: #000;s
  background-image: var(--artificia-gradient-td);
  // height: 2000px;
}

// /////////////////////////////////////////////////////////////

//SECTION-ARTIFICIA

.section-artificia {
  display: flex;
  justify-content: center;

  &__container {
    display: flex;
    background-image: var(--artificia-gradient);
    box-shadow: inset 3px 4px 10px #111;
    // box-shadow: var(--shadow-dark);
    border-radius: 15px 50px;
    min-height: 30rem;

    position: relative;
    margin: 4rem 4rem;
    max-width: 80vw;
    max-width: 800px;
    min-height: 450px;
  }

  &__left {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    padding-right: -20%;

    max-width: 600px;

    padding: 2rem 1rem 3rem 3rem;

    color: var(--color-gray-dark-1);

    &--title {
      font-family: "ultraregular", sans-serif;
      color: var(--artificia-blue);
      text-shadow: var(--artificia-blue-text-glow);
      font-size: 4rem;
      align-self: center;
    }

    &--description {
      font-size: 1.5rem;
      font-family: "Aldrich", sans-serif;
    }
  }

  &__right {
    // position: absolute;
    // top: 0;
    // right: -18rem;
    display: flex;
    justify-content: center;
    width: 150px;
    max-height: 450px;

    // margin-right: -50%;

    &--lunaimage {
      height: 100%;
      margin-right: -50%;
    }
  }
}

.btn--artificia {
  margin-top: 2rem;
  min-width: 30rem;
  max-width: 40vw;
  font-family: "Aldrich", sans-serif;
  align-self: center;

  &,
  &:link,
  &:visited {
    background-color: var(--color-primary);
    color: rgb(63, 63, 63);
    text-decoration: none;
    padding: 1.5rem 4rem;
    position: relative;
    display: flex;
    justify-content: center;
    border-radius: 5rem 10rem;
    transition: all 0.2s;
    font-size: 1.6rem;
  }

  &:hover {
    transform: translateY(-0.3rem);

    animation: textglow 2s ease-in-out infinite;
    box-shadow: var(--shadow-dark);
    background-color: var(--color-primary-light);
  }

  &:active,
  &:focus {
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  }
}

@keyframes textglow {
  0% {
    color: #93f7eb;
  }

  50% {
    color: #57918a;
  }

  100% {
    color: #93f7eb;
  }
}

// /////////////////////////////////////////////////////////////

// //Who We Are

.section-us {
  background-color: aliceblue;
  text-align: center;
  display: flex;
  flex-direction: column;
  // align-items: center;

  &__title {
    font-family: "Laila", sans-serif;
    text-align: center;

    font-size: 4rem;
    font-weight: 300;
    color: var(--color-primary-dark);
    padding: 5rem 0 0 0rem;
  }

  &__container {
    color: var(--color-gray-dark-2);
    padding: 5rem 0 0 0rem;
    font-size: 2rem;
    display: grid;
    align-items: center;
    // justify-content: center;
    min-height: 300px;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 2rem;
  }

  &__container2 {
    color: var(--color-gray-dark-2);
    padding: 5rem 0 0 0rem;
    font-size: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    grid-gap: 2rem;
    align-content: stretch;
  }

  &__profiles {
    display: grid;
    grid-template-rows: 1fr 1fr 2fr;
    text-align: center;
    justify-items: center;
    align-items: center;
    height: 7rem;
    margin-bottom: 25rem;

    &--title {
      font-family: "Laila", sans-serif;
      color: var(--color-primary);
    }

    &--title2 {
      font-family: "Raleway", sans-serif;
      font-size: 1.4rem;
      font-weight: 300;
      color: var(--color-gray-dark-2);
      padding-bottom: 1rem;
    }

    &--img {
      border-radius: 50rem;
      box-shadow: 0 1rem 2rem rgba(68, 68, 68, 0.2);
      border: 2px solid var(--color-primary-dark);
      height: 100%;
      transition: all 0.15s ease-in;

      &:hover {
        transform: translateY(-5px);

        box-shadow: 0 1rem 2rem rgba(68, 68, 68, 0.4);
      }
    }
  }
}

// /////////////////////////////////////////////////////////////

//Stay in the Know

.section-social {
  display: flex;
  justify-content: center;

  &__container {
    background-color: aliceblue;

    border-radius: 15px;
    min-height: 20rem;
    padding-bottom: 2rem;
    position: relative;
    margin: 4rem 4rem;

    min-width: 40vw;
    max-width: 80vw;
    max-width: 800px;
  }

  &__item {
    font-size: 2rem;
    display: flex;
    align-items: center;

    margin-top: 2rem;
    text-decoration: none;
    list-style-type: none;
    position: relative;

    &,
    &:link,
    &:visited {
      text-decoration: none;
      color: var(--color-gray-dark-3);
    }

    .section-social__body--icon-box {
      position: relative;

      .icon_thing {
        position: absolute;
        transform: translate(220%, -50%);
        z-index: 100;
      }
    }
  }

  .final-btn::after {
    content: "";
    position: absolute;
    background-color: aliceblue;
    height: 7vh;
    width: 17vw;
    clip-path: polygon(50% 100%, 25% 0, 75% 0%);
    left: 54%;
    top: 80px;
    transform: translateX(-50%);
  }

  &__title {
    font-family: "Laila", sans-serif;
    text-align: center;

    font-size: 3rem;
    font-weight: 300;
    color: var(--color-primary-dark);
    padding-top: 3rem;
  }

  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color-gray-dark-2);
    // padding-top: 2rem;
    padding-bottom: 2rem;
    // margin: 0 auto;
    font-size: 2rem;

    &--button {
      margin-right: 1rem;

      &-text {
        // background-color: aqua;
        margin-left: 1rem;
      }

      &,
      &:link,
      &:visited {
        background-color: var(--color-primary);
        color: rgb(63, 63, 63);
        padding: 1.5rem 5rem;
        position: relative;
        display: flex;
        justify-content: center;
        border-radius: 5rem 10rem;
        transition: all 0.2s;
        transform: translateX(5%);
        font-size: 1.6rem;
      }
      &:hover {
        // transform: translateY(-0.3rem);

        // box-shadow: var(--shadow-dark);
        background-color: var(--color-primary-light);
      }
    }
  }
}

// /////////////////////////////////////////////////////////////

//FOOTER

.footer {
  background-color: var(--color-gray-dark-3);
  // height: 30vh;
  padding-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 1rem;

  &__logo {
    // background-color: aliceblue;
    display: flex;
    justify-content: center;
  }

  &__love {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    padding-bottom: 1.5rem;
    text-align: center;
  }

  &__copyright {
    font-size: 1.25rem;
    padding: 1.5rem 2rem;
  }

  &__social {
    padding-top: 2rem;
    padding-right: 3rem;
    display: flex;
    justify-content: flex-end;

    &--logo {
      font-size: 4rem;
      transition: all 0.4s;

      &,
      &:link,
      &:visited {
        color: var(--color-gray-light-2);
        box-shadow: var(--color-gray-dark-3);
      }

      &:hover {
        color: var(--color-primary);
        box-shadow: var(--shadow-dark);
      }
    }
  }
}

// Artificia Header

// ZOOM IN IMAGE HEADER

.header-artificia {
  height: 100vh;
  overflow: hidden;
}

.header-banner {
  margin-top: 4rem;
}

.header-subtitle {
  font-family: "Aldrich", sans-serif;
  margin-top: -2.5rem;
  font-size: 2rem;
  text-align: center;
  color: var(--artificia-blue-dark);
}

.banner-box {
  left: 60%;
  top: 30%;
  position: absolute;
  z-index: 120;

  height: 550px;
  max-width: 500px;

  background-image: var(--artificia-gradient);
  box-shadow: inset 5px 8px 10px #000;
  border-radius: 15px 50px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-text {
  margin: 1rem 2rem;
  text-align: center;
  font-size: 1.75rem;
  color: var(--color-gray-light-4);
  font-family: "aldrich", sans-serif;
}

.box {
  position: absolute;
  perspective: 400px;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  transform-style: preserve-3d;
  transition: perspective 5s;
}

.fore-box {
  z-index: 10;
}

.bg-box {
  z-index: 5;
}

.img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transition: all 5s;
}

// .fore {
//   z-index: 10;
//   background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/9332/hills-foreground.png);
//   background-size: cover;
// }
// .bg {
//   background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/9332/hills-bg.jpg);
//   transform: translateZ(150px);
//   background-size: cover;
// }
.fore {
  z-index: 10;
  background-image: url("../img/bg_fg.png");
  background-size: cover;
}

.bg {
  background-image: url("../img/bg.png");
  transform: translateZ(50px);
  background-size: cover;
}

.box.on {
  .fore {
    transform: translateZ(75px);
  }
  .bg {
    transform: translateZ(0);
    filter: blur(4px);
    -webkit-filter: blur(4px);
  }
}

/////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////
//SECTION--SUITORS

.section-suitors {
  // background-color: var(--artificia-black);
  border-top: 5px solid var(--artificia-blue-dark);
  border-bottom: 5px solid var(--artificia-blue);
}

.section-subtitle {
  text-align: center;
  font-size: 2rem;
  margin-top: 5rem;
  font-family: "aldrich", sans-serif;
  color: var(--color-gray-light-4);
}

.suitors-row-back {
  display: flex;
  justify-content: space-evenly;
  height: 483px;
  transform: translateY(12%);

  position: relative;
  z-index: 100;

  border-bottom: 3px solid var(--artificia-blue-dark);
}

.suitors-row-front {
  // background-color: #93f7eb;
  height: 480px;
  margin-top: -25vh;
  justify-content: center;
  display: flex;

  position: relative;
  z-index: 105;
}

.sf {
  margin-left: -15px;
}

// Individual suitors movements and positioning is located in @suitors.scss

/////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////
// SECTION--LUNA

.lunagridcontainer {
  margin-top: 4rem;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 10px;
}

.lunatallcontainer {
  height: 650px;
  grid-area: 1 / 2 / span 2 / span 1;
  display: flex;
  justify-content: center;
}

.lunasubcontainer {
  grid-area: 1 / 3 / span 1 / span 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 5rem;
}

.luna-description {
  grid-area: 1 / 1 / span 2 / span 1;

  margin: 4rem 7rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  &::before {
    content: "Tossed into political and legal turmoil";
    font-size: 2.5rem;
    color: var(--artificia-blue-dark);
  }

  &__text {
    font-size: 2rem;
    font-family: "aldrich", sans-serif;
    margin: 1.5rem auto;
  }
}

.lunaprofilecontainer {
  height: 200px;
  position: relative;

  &:last-child::after {
    content: "In-Game Profile View";

    color: var(--artificia-blue);
    font-family: "aldrich", sans-serif;
    font-size: 1.5rem;

    position: absolute;

    top: 200px;
    left: 20px;
  }
}

.lunaimage {
  height: 100%;
  border-bottom: 1px solid var(--artificia-blue);
}

/////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////
// SECTION--LANDING

.landing-container {
  background-color: transparent;
  overflow: visible;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section-title {
  word-spacing: 2.5rem;
  margin: 0 2.5rem;
  padding-top: 5rem;
  color: var(--artificia-blue);
  text-shadow: var(--artificia-blue-text-glow);
  font-size: 5rem;
  text-align: center;
  text-transform: uppercase;
  font-family: "ultraregular", sans-serif;
  font-weight: normal;
  font-style: normal;
}

.landing-text {
  color: var(--color-gray-dark-1);

  font-size: 1.5rem;
  text-align: center;
  font-family: "aldrich", sans-serif;
  font-weight: normal;
  font-style: normal;
}

.sectText {
  font-family: "Aldrich", sans-serif;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin: 0 3rem;

  max-width: 600px;
}

.section-landing {
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.meow {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 15rem 2rem;

  height: 450px;
}

.sectionHeaders {
  color: var(--artificia-blue);
  font-size: 3rem;
  text-align: center;
}

.imagebase {
  height: 450px;
  display: flex;
  align-items: center;

  img {
    height: 100%;
    // height: auto;
  }
}

.section-technical {
  // height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tech-img-container {
  margin-top: 4rem;
  height: 600px;
  display: flex;
  justify-content: center;
}

.technical-img {
  height: 100%;
  border: 3px solid var(--color-primary);
  border-radius: 3rem;
  box-shadow: 1 1 3rem rgba(0, 0, 0, 0.4);
  display: none;
}

.technical-img-index {
  height: 100%;
  border: 3px solid var(--color-primary);
  border-radius: 3rem;
  box-shadow: 1 1 3rem rgba(0, 0, 0, 0.4);
  display: none;
}

.carousel-img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel-container {
  position: relative;
}

.prev,
.next {
  position: absolute;
  font-size: 3rem;
  font-weight: bold;
  cursor: pointer;
  width: 50px;
  padding: 1rem;
  top: 50%;
  transition: 0.4s ease;
  border-radius: 1rem 0 0 1rem;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 0 1rem 1rem 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

/* The dots underneath slideshow */
.dot {
  cursor: pointer;
  height: 1rem;
  width: 1rem;
  margin: 2rem 1.25rem;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.section-brooch {
  height: auto;
  width: 100%;
  padding-bottom: 7rem;

  &__container {
    margin-top: 4rem;
    // padding-bottom: 15rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

.brooch-text {
  font-size: 2rem;
  font-family: "aldrich", sans-serif;

  text-align: center;

  padding: 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border: 2px solid var(--artificia-blue);
  border-radius: 2rem;

  transition: all 0.2s;

  &:hover {
    background-color: #353535;
    color: var(--color-gray-light-4);
  }
}

.brooch-img-container {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
}

.brooch-img {
  height: auto;
  width: 100%;
  max-width: 500px;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

//ABOUT.HTML

////////////////////////////////////////////////////////////////////////////////////////

.section-about {
  background-color: aliceblue;
  // height: 800px;
  margin: 5rem 12rem;
  padding: 1rem 3rem;

  border-radius: 3rem;
}

.about-description {
  margin: auto;
}
