.navbar--shrink {
  z-index: 10;
  height: 10px;
  transform: translateY(-100%);

  &__title {
    font-size: 0rem;
    transform: translateY(-100%);
  }

  &__logo {
    height: 0rem;
  }

  &__container {
    &--left {
      width: 40rem;
      margin-left: 2rem;
    }
  }

  &__items {
    display: flex;
  }

  &__t {
    list-style-type: none;
  }

  &__item {
    font-size: 0rem;
    display: flex;
    align-items: center;

    margin-right: 2rem;
    text-decoration: none;
    list-style-type: none;

    &,
    &:link,
    &:visited {
      text-decoration: none;
      color: red;
    }
  }
}
