@media only screen and (max-width: 1777px) {
  .section-us {
    &__container2 {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

@media only screen and (max-width: 1600px) {
  .luna-description {
    margin: 4rem 2rem;
  }
}

@media only screen and (max-width: 1450px) {
  // .section-social__item {
  //   margin: 0 2rem;
  // }
  .brooch-text {
    padding: 1rem;
  }

  .imagebase {
    height: 425px;

    img {
      width: 100%;
      height: auto;
    }
  }
}

@media only screen and (max-width: 1406px) {
  .section-us {
    &__container2 {
      grid-template-columns: repeat(2, 30rem);
      justify-content: center;
    }
  }
}

@media only screen and (max-width: 1385px) {
  .section-us {
    &__container2 {
      grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    }
  }
}

/* iPads to computers */
@media only screen and (max-width: 1200px) {
  // NAV BAR
  .nav__item {
    font-size: 1.7rem;
    min-width: 86px;
  }
  // NAV BAR
  // ARTIFICIA.HTML

  .meow {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 2rem 1rem;
    height: 1000px;
  }

  .column-reverse {
    flex-direction: column-reverse;
  }

  .imagebase {
    height: 700px;
    margin: 3rem auto;

    img {
      width: 100%;
      height: auto;
    }
  }

  .tech-img-container {
    margin-top: 4rem;
    height: 500px;
    display: flex;
    justify-content: center;
  }

  .banner-box {
    left: 50%;
    margin-left: -250px;

    height: 450px;
    max-width: 500px;
  }

  .header-text {
    margin: 1rem 2rem;
    text-align: center;
    font-size: 1.5rem;
    color: var(--color-gray-light-4);
    font-family: "aldrich", sans-serif;
  }

  .suitorimage {
    margin: 0 -3rem;
  }

  .full1 {
    display: none;
  }

  .lunagridcontainer {
    grid-template-rows: 1fr 10px;
  }

  .luna-description {
    grid-area: 1 / 1 / 3 / 3;
  }
  // ARTIFICIA.HTML

  // INDEX.HTML
  .header {
    &__title {
      font-size: 5rem;
    }

    &__body {
      font-size: 3rem;
    }
  }
  // INDEX.HTML
}

/* iPads: small tablet to big tablet held vertically  */
/* From 768px to 1023px */
@media only screen and (max-width: 1023px) {
  // NAV BAR
  .nav__item {
    margin-right: 1rem;
    min-width: 75px;
  }
  // NAV BAR

  // ABOUT.HTML
  .section-us__profiles {
    margin-bottom: 24rem;
  }

  // ABOUT.HTML
  // ARTIFICIA.HTML

  .meow {
    height: auto;
  }

  .imagebase {
    height: auto;
  }

  .tech-img-container {
    margin-top: 4rem;
    height: 350px;
    display: flex;
    justify-content: center;
  }

  .prev,
  .next {
    top: 40%;
    color: aliceblue;
  }

  .next {
    right: -2%;
  }

  .suitorimage {
    height: 300px;
    margin: 0;
  }

  .suitors-row-back {
    height: 300px;
    img {
      height: 100%;
    }
  }

  .suitors-row-front {
    height: 300px;
    margin-top: -10vh;
    img {
      height: 100%;
    }
  }

  .nemo {
    &::before {
      font-size: 2rem;

      top: -10px;
      left: 65px;
    }

    &::after {
      font-size: 1rem;

      top: 5px;
      left: 40px;
    }
  }

  .zane {
    &::before {
      font-size: 2rem;

      top: -30px;
      left: 65px;
    }

    &::after {
      font-size: 1rem;

      top: -15px;
      left: 30px;
    }
  }

  .stercus {
    &::before {
      font-size: 2rem;

      top: -10px;
      left: 55px;
    }

    &::after {
      font-size: 1rem;

      top: 5px;
      left: 20px;
    }
  }

  .petra {
    &::before {
      font-size: 2rem;

      top: 10px;
      left: 60px;
    }

    &::after {
      font-size: 1rem;

      top: 25px;
      left: 25px;
    }
  }

  .ilis {
    &::before {
      font-size: 2rem;

      top: -10px;
      left: 65px;
    }

    &::after {
      font-size: 1rem;

      top: 5px;
      left: 15px;
    }
  }

  .tom {
    &::before {
      font-size: 2rem;

      top: -10px;
      left: 65px;
    }

    &::after {
      font-size: 1rem;

      top: 5px;
      left: 40px;
    }
  }

  .heis {
    &::before {
      font-size: 2rem;

      top: -10px;
      left: 60px;
    }

    &::after {
      font-size: 1rem;

      top: 5px;
      left: 10px;
    }
  }

  .elina {
    &::before {
      font-size: 2rem;

      top: -10px;
      left: 60px;
    }

    &::after {
      font-size: 1rem;

      top: 5px;
      left: 20px;
    }
  }
  // ARTIFICIA.HTML

  // INDEX.HTML
  .header {
    &__title {
      font-size: 5rem;
    }

    &__body {
      font-size: 2.75rem;
    }
  }

  .section-us__container {
    padding-bottom: 3rem;
  }
  // INDEX.HTML
}

/* Small phones to small tablets: from 481 to (originally-- changed 3.24.21) 767px */
@media only screen and (max-width: 860px) {
  // ARTIFICIA.HTML

  .meow {
    height: auto;
  }

  .imagebase {
    height: auto;
  }

  .section-landing {
    .sectionHeaders {
      font-size: 2.25rem;
    }
  }

  .brooch-text {
    font-size: 1.75rem;
  }

  .header-artificia {
    height: 800px;
  }

  .img {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 800px;
    transition: all 5s;
  }

  .fore {
    display: none;
  }

  .box {
    position: absolute;
    perspective: 400px;
    width: 100vw;
    height: 800px;
    overflow: hidden;
    transform-style: preserve-3d;
    transition: perspective 5s;
  }

  .banner-box {
    left: 50%;
    margin-left: -250px;
    // left: 30%;
    // top: 20%;

    height: 600px;
    // max-width: 500px;
  }

  .header-text {
    font-size: 1.8rem;
  }

  .section-subtitle {
    font-size: 2rem;
    margin: 3rem 2rem;
  }
  // ARTIFICIA.HTML

  // INDEX.HTML

  .header-title-insert {
    font-size: 5rem;
  }

  .header-subtitle-insert {
    font-size: 3rem;
    height: auto;
  }

  .header {
    &__title {
      font-size: 4rem;
    }

    &__body {
      font-size: 2.5rem;
      line-height: 3rem;
    }
  }

  .section-social__item {
    max-width: 300px;
    // margin: 0 2rem;
  }
  // INDEX.HTML
}

@media only screen and (max-width: 750px) {
  // ARTIFICIA.HTML

  .section-title {
    font-size: 4rem;
  }

  .section-subtitle {
    font-size: 1.5rem;
  }

  .lunagridcontainer {
    grid-template-rows: 200px 1fr;
  }

  .luna-description {
    grid-area: 2 / 1 / 2 / 4;

    &::before {
      font-size: 2rem;
      text-align: center;
    }

    &__text {
      font-size: 1.5rem;
    }
  }

  .suitorimage {
    margin: 0 -1rem;
  }

  .lunasubcontainer {
    grid-area: 1 / 1 / 3 / 4;
    flex-direction: row;
    justify-content: center;
    margin: 0;
  }

  // ARTIFICIA.HTML

  // INDEX.HTML
  .section-social__item {
    font-size: 1.75rem;
    margin: 2rem 2rem 0.25rem 2rem;
  }
}

@media only screen and (max-width: 685px) {
  // ABOUT.HTML

  .section-about {
    margin: 3rem 1rem;
  }

  // INDEX.HTML
  .nav__title {
    font-size: 3rem;
    line-height: 3rem;
  }

  .nav__container {
    margin-left: 1rem;
  }

  // ARTIFICIA.HTML

  .suitorimage {
    height: 200px;
    margin: 0;
  }

  .suitors-row-back {
    height: 200px;
    img {
      height: 100%;
    }
  }

  .suitors-row-front {
    height: 200px;
    margin-top: 0vh;
    img {
      height: 100%;
    }
  }

  .nemo {
    &::before {
      font-size: 1.75rem;

      top: -25px;
      left: 25px;
    }

    &::after {
      font-size: 1rem;

      top: -15px;
      left: -5px;
    }
  }

  .zane {
    &::before {
      font-size: 1.75rem;

      top: -50px;
      left: 35px;
    }

    &::after {
      font-size: 1rem;

      top: -40px;
      left: 5px;
    }
  }

  .stercus {
    &::before {
      font-size: 1.75rem;

      top: -45px;
      left: 20px;
    }

    &::after {
      font-size: 1rem;

      top: -30px;
      left: 10px;
    }
  }

  .petra {
    &::before {
      font-size: 1.75rem;

      top: -15px;
      left: 25px;
    }

    &::after {
      font-size: 1rem;

      top: -5px;
      left: 0px;
    }
  }

  .ilis {
    &::before {
      font-size: 1.75rem;

      top: -45px;
      left: 40px;
    }

    &::after {
      font-size: 1rem;

      top: -30px;
      left: 10px;
    }
  }

  .tom {
    &::before {
      font-size: 1.75rem;

      top: -25px;
      left: 40px;
    }

    &::after {
      font-size: 1rem;

      top: -10px;
      left: 10px;
    }
  }

  .heis {
    &::before {
      font-size: 1.75rem;

      top: -35px;
      left: 35px;
    }

    &::after {
      font-size: 1rem;

      top: -25px;
      left: 5px;
    }
  }

  .elina {
    &::before {
      font-size: 1.75rem;

      top: -30px;
      left: 35px;
    }

    &::after {
      font-size: 1rem;

      top: -15px;
      left: 10px;
    }
  }

  // ARTIFICIA.HTML
  // INDEX.HTML
  .header {
    &__title {
      font-size: 3rem;
      margin-bottom: 0.25rem;
    }

    &__body {
      font-size: 2rem;
      line-height: 2rem;
    }
  }
  // INDEX.HTML
}

@media only screen and (max-width: 620px) {
  // NAV
  .nav__title {
    font-size: 2.5rem;
  }
  // NAV
  // ARTIFICIA.HTML

  // ARTIFICIA.HTML

  // INDEX.HTMl
  .section-us__profiles--title2 {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  // INDEX.HTML
  .brooch-text {
    font-size: 1.5rem;
    padding: 0.75rem;
  }

  .tech-img-container {
    height: 300px;
  }

  .prev,
  .next {
    top: 50%;
  }

  .dot {
    height: 0.5rem;
    width: 0.5rem;
  }

  .header-banner {
    img {
      width: 325px;
    }
  }

  .banner-box {
    margin-left: -200px;
    max-width: 400px;
  }
}

@media only screen and (max-width: 540px) {
  // NAVBAR

  // NAVBAR

  // INDEX.HTML

  // INDEX.HTML
  // ARTIFICIA.HTML

  .sectionHeaders {
    font-size: 2.5rem;
  }

  .sectText {
    font-size: 1.8rem;
  }

  .tech-img-container {
    width: 300px;
  }

  .section-title {
    font-size: 4rem;
    line-height: 4.5rem;
    margin: 0 1rem;
    text-align: center;
  }

  .suitorimage {
    margin: 0 -1rem;
  }

  .suitorimage {
    height: 175px;
    margin: 0;
  }

  .suitors-row-back {
    height: 175px;
    margin-top: 100px;
    img {
      height: 100%;
    }
  }

  .suitors-row-front {
    height: 175px;
    margin-top: 3vh;
    img {
      height: 100%;
    }
  }

  .nemo {
    &::before {
      font-size: 1.75rem;

      top: -40px;
      left: 22px;
    }

    &::after {
      font-size: 1rem;

      top: -30px;
      left: 19px;
      max-width: 8rem;
    }
  }

  .zane {
    &::before {
      font-size: 1.75rem;

      top: -50px;
      left: 22px;
    }

    &::after {
      font-size: 1rem;

      top: -40px;
      left: 8px;
      max-width: 9.5rem;
    }
  }

  .stercus {
    &::before {
      font-size: 1.75rem;

      top: -45px;
      left: 12px;
    }

    &::after {
      font-size: 1rem;

      top: -30px;
      left: 5px;
      max-width: 11rem;
    }
  }

  .petra {
    &::before {
      font-size: 1.75rem;

      top: -20px;
      left: 18px;
    }

    &::after {
      font-size: 1rem;

      top: -10px;
      left: 10px;
      max-width: 9rem;
    }
  }

  .ilis {
    &::before {
      font-size: 1.75rem;

      top: -45px;
      left: 30px;
    }

    &::after {
      font-size: 1rem;

      top: -30px;
      left: 10px;
      max-width: 9rem;
    }
  }

  .tom {
    &::before {
      font-size: 1.75rem;

      top: -30px;
      left: 30px;
    }

    &::after {
      font-size: 1rem;

      top: -20px;
      left: 18px;
      max-width: 8rem;
    }
  }

  .heis {
    &::before {
      font-size: 1.75rem;

      top: -35px;
      left: 27px;
    }

    &::after {
      font-size: 1rem;

      top: -25px;
      left: 3px;
      max-width: 10.5rem;
    }
  }

  .elina {
    &::before {
      font-size: 1.75rem;

      top: -30px;
      left: 23px;
    }

    &::after {
      font-size: 1rem;

      top: -15px;
      left: 10px;
      max-width: 9rem;
    }
  }

  // ARTIFICIA.HTML

  // INDEX.HTML
  .nav {
    height: 6rem;

    padding-top: 0.5rem;
    &__logo {
      height: 5rem;
    }
    &__title {
      // display: none;
      font-size: 2rem;
    }
  }

  .banner-box {
    top: 20%;
  }

  .header {
    &__description {
      height: 30%;
      width: 55%;
      top: 75%;
      left: 30%;
    }

    &__title {
      font-size: 3rem;
      margin-bottom: -0.25rem;
    }

    &__body {
      font-size: 2rem;
      line-height: 2rem;
    }
  }
  // INDEX.HTML
}
@media only screen and (max-width: 500px) {
  // NAV
  .nav__title {
    display: none;
  }
  // NAV
  // ARTIFICIA.HTML
  .lunagridcontainer {
    grid-template-rows: 150px 1fr;
  }

  // ARTIFICIA.HTML
  // INDEX.HTML

  .tech-img-container {
    width: 275px;
    height: 250px;
  }

  .header {
    border-top: none;
  }

  .header-title-insert {
    font-size: 4rem;
  }

  .header-subtitle-insert {
    font-size: 2.5rem;
    line-height: 2.4rem;
    height: auto;
    padding: 1.5rem;
  }

  .box {
    height: 600px;
  }

  .header-artificia {
    height: 600px;
  }

  .banner-box {
    top: 15%;
    left: 50%;
    margin-left: -150px;

    height: 450px;
    max-width: 300px;
  }

  .header-subtitle {
    font-size: 1.75rem;
  }

  .header-text {
    font-size: 1.25rem;
  }

  .header-banner {
    img {
      width: 275px;
    }
  }
}

@media only screen and (max-width: 450px) {
  .nav {
    &__title {
      display: none;
    }
  }
}

/* Small phones: from 0 to 480px */
@media only screen and (max-width: 420px) {
  // FOOTER
  .footer {
    grid-template-columns: repeat(3, 125px);
    grid-row-gap: 0.5rem;
  }
  // FOOTER
  // NAV BAR

  .nav {
    &__item {
      margin-right: 0;
      font-size: 1.7rem;
      min-width: 65px;
      font-size: 1.4rem;
    }

    &__t {
      &:last-child {
        margin-right: 1rem;
      }
    }
  }
  // NAV BAR

  // ABOUT.HTML
  .section-us__container2 {
    font-size: 1.75rem;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  }
  // ABOUT.HTML
  // artificia.html

  .brooch-img {
    flex-shrink: 1;
  }

  .section-brooch__container {
    align-items: stretch;
  }

  .section-title {
    font-size: 3.5rem;
  }

  .lunaprofilecontainer {
    height: 150px;

    &:last-child::after {
      content: "";
    }
  }

  .suitorimage {
    margin: 0 -1.5rem;
    height: 175px;
  }

  .suitors-row-back {
    height: 175px;
    margin-top: 100px;
    img {
      height: 100%;
    }
  }

  .suitors-row-front {
    height: 175px;
    margin-top: 3vh;
    img {
      height: 100%;
    }
  }

  .nemo {
    &::before {
      font-size: 1.75rem;

      top: -40px;
      left: 25px;
    }

    &::after {
      font-size: 1rem;

      top: -30px;
      left: 20px;
      max-width: 8rem;
    }
  }

  .zane {
    &::before {
      font-size: 1.75rem;

      top: -50px;
      left: 28px;
    }

    &::after {
      font-size: 1rem;

      top: -40px;
      left: 20px;
      max-width: 9.5rem;
    }
  }

  .stercus {
    &::before {
      font-size: 1.75rem;

      top: 80px;
      left: 0px;
    }

    &::after {
      font-size: 1rem;

      top: 90px;
      left: -10px;
      max-width: 11rem;
    }
  }

  .petra {
    &::before {
      font-size: 1.75rem;

      top: 90px;
      left: 18px;
    }

    &::after {
      font-size: 1rem;

      top: 100px;
      left: 10px;
      max-width: 9rem;
    }
  }

  .ilis {
    &::before {
      font-size: 1.75rem;

      top: 80px;
      left: 30px;
    }

    &::after {
      font-size: 1rem;

      top: 90px;
      left: 15px;
      max-width: 10rem;
    }
  }

  .tom {
    &::before {
      font-size: 1.75rem;

      top: 90px;
      left: 30px;
    }

    &::after {
      font-size: 1rem;

      top: 100px;
      left: 18px;
      max-width: 8rem;
    }
  }

  .heis {
    &::before {
      font-size: 1.75rem;

      top: -35px;
      left: 15px;
    }

    &::after {
      font-size: 1rem;

      top: -25px;
      left: 0px;
      max-width: 11rem;
    }
  }

  .elina {
    &::before {
      font-size: 1.75rem;

      top: -30px;
      left: 18px;
    }

    &::after {
      font-size: 1rem;

      top: -15px;
      left: 5px;
      max-width: 9rem;
    }
  }

  // ARTIFICIA.HTML
  // artificia.html

  // INDEX.HTML
  .header {
    &__description {
      height: 30%;
      width: 90%;
      top: 75%;
      left: 50%;
    }

    &__title {
      font-size: 4rem;
      margin-bottom: -0.25rem;
    }

    &__body {
      font-size: 2.25rem;
      line-height: 2rem;
    }
  }

  .section-artificia {
    &__container {
      width: 325px;
    }
    &__left {
      padding: 2rem;
      margin: 0 2rem;
    }

    &__right {
      position: absolute;
      top: 0;
      right: -18rem;
      height: 110%;
      max-height: 550px;

      &--lunaimage {
        display: none;
      }
    }
  }

  .section-us__profiles {
    &:last-child {
      margin-bottom: 35rem;
    }
  }

  .btn--artificia {
    min-width: 20rem;
  }

  .section-social {
    .final-btn::after {
      width: 75px;
      top: 90px;
    }

    &__container {
      margin: 2rem -1rem;
    }

    &__title {
      margin: 1rem 1rem;
    }

    &__body {
      &--button {
        font-size: 1.35rem;
      }
    }

    &__item {
      font-size: 1.5rem;

      &,
      &:link,
      &:visited {
        text-decoration: none;
        text-align: center;
      }
    }
  }

  // INDEX.HTML
}

@media only screen and (max-width: 360px) {
  // ARTIFICIA.HTMl

  .lunagridcontainer {
    grid-template-rows: 100px 1fr;
  }

  .lunaprofilecontainer {
    height: 100px;
  }

  // ARTIFICIA.HTML

  .banner-box {
    top: 15%;
    left: 50%;
    margin-left: -125px;

    height: 450px;
    max-width: 250px;
  }

  .header-banner {
    img {
      width: 250px;
    }
  }

  .header-subtitle {
    font-size: 1.5rem;
  }
  // ARTIFICIA.HTML

  // ABOUT.HTML

  .about-description {
    margin: 3rem auto;
  }
  // AbOUT.html

  // INDEX.HTML
  // INDEX.HTML
  .header {
    &__description {
      height: 30%;
      width: 90%;
      top: 75%;
      left: 50%;
    }

    &__title {
      font-size: 3rem;
      margin-bottom: -0.25rem;
    }

    &__body {
      font-size: 2rem;
      line-height: 2rem;
    }
  }
  // INDEX.HTML

  // FOOTER
  .footer {
    grid-template-columns: repeat(3, 100px);
    grid-row-gap: 0.5rem;
  }
  // FOOTER
}
