/*
COLORS

Primary: #eb2f64
Primary light: #FF3366
Primary dark: #BA265D

Grey light 1: #faf9f9
Grey light 2: #f4f2f2
Grey light 3: #f0eeee
Grey light 4: #ccc

Grey dark 1: #333
Grey dark 2: #777
Grey dark 3: #999

*/
@font-face {
  font-family: "ultraregular";
  src: url("../css/fonts/ultra_fabienkorn-webfont.woff2") format("woff2"), url("../css/fonts/ultra_fabienkorn-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --color-primary: #ff8080;
  --color-primary-light: #ffb6b6;
  --color-primary-dark: #e23939;
  --color-gray-light-1: #faf9f9;
  --color-gray-light-2: #f4f2f2;
  --color-gray-light-3: #f0eeee;
  --color-gray-light-4: #ccc;
  --color-gray-dark-1: #999;
  --color-gray-dark-2: #777;
  --color-gray-dark-3: #333;
  --color-gray-dark-4: #222;
  --nav-transition: all 0.2s;
  --artificia-blue: #93f7eb;
  --artificia-black: #0d0d0d;
  --artificia-blue-dark: #4cb9ad;
  --artificia-blue-text-glow: 0px 4px 5px rgb(145, 255, 255);
  --artificia-gradient: linear-gradient(to bottom right, #323232, #0d0d0d);
  --artificia-gradient-td: linear-gradient(
    #4d4d4d 0%,
    #161616 25%,
    #141414 80%,
    #0d0d0d 100%
  );
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-gray-dark-1);
  background-image: -webkit-gradient(linear, left top, right bottom, from(var(--color-primary-light)), to(var(--color-primary-dark)));
  background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.nav {
  background-color: white;
  z-index: 1000;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  border-bottom: 1.5px solid var(--color-primary);
  height: 110px;
  -webkit-transition: var(--nav-transition);
  transition: var(--nav-transition);
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  font-family: "Laila", sans-serif;
}

.nav__title {
  -webkit-transition: var(--nav-transition);
  transition: var(--nav-transition);
  font-size: 3.5rem;
  color: var(--color-primary-dark);
  font-weight: 300;
}

.nav__logo {
  -webkit-transition: var(--nav-transition);
  transition: var(--nav-transition);
  height: 10rem;
  margin: 0;
}

.nav__container {
  -webkit-transition: var(--nav-transition);
  transition: var(--nav-transition);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 5rem;
}

.nav__container--left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80rem;
  margin-left: 2rem;
}

.nav__items {
  -webkit-transition: var(--nav-transition);
  transition: var(--nav-transition);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 50px;
}

.nav__t {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 50px;
}

.nav__item {
  -webkit-transition: var(--nav-transition);
  transition: var(--nav-transition);
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 2rem;
  text-decoration: none;
  list-style-type: none;
}

.nav__item, .nav__item:link, .nav__item:visited {
  text-decoration: none;
  color: red;
}

.header-title-insert {
  background-color: var(--color-gray-dark-3);
  height: auto;
  text-align: center;
  font-size: 6rem;
  font-family: "Ultra", sans-serif;
  color: var(--artificia-blue);
  text-shadow: var(--artificia-blue-text-glow);
}

.header-subtitle-insert {
  background-color: var(--color-gray-dark-3);
  height: 7rem;
  padding-bottom: 3rem;
  text-align: center;
  word-spacing: 2rem;
  font-size: 3rem;
  font-family: "Ultra", sans-serif;
  color: var(--color-gray-dark-1);
}

.header {
  background-color: var(--color-primary-light);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  border-top: 3rem solid var(--color-gray-dark-3);
  border-bottom: 3rem solid var(--color-gray-dark-3);
  background-color: #000;
  -webkit-box-shadow: inset 3px 6px 15px #000;
          box-shadow: inset 3px 6px 15px #000;
}

.header .hero-container {
  width: 100vw;
  z-index: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .hero-container .hero {
  width: 100%;
  max-width: 1200px;
}

.header__description {
  background-color: var(--color-gray-dark-3);
  -webkit-box-flex: 0;
      -ms-flex: 0 0 5rem;
          flex: 0 0 5rem;
  border-radius: 2rem 2rem 0 0;
  border-width: 5px;
  border-style: solid none none none;
  border-color: var(--color-gray-dark-2);
  padding-left: 0.5rem;
  text-align: center;
  position: absolute;
  height: 25%;
  width: 40%;
  top: 75%;
  left: 25%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-transform: uppercase;
  font-family: "ultraregular", sans-serif;
  font-weight: normal;
  font-style: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__title {
  text-align: center;
  font-size: 7vh;
  color: var(--artificia-blue);
  text-shadow: var(--artificia-blue-text-glow);
  margin-bottom: -15px;
}

.header__body {
  font-size: 3rem;
  word-spacing: 1rem;
}

.background-gradient {
  background-image: var(--artificia-gradient-td);
}

.section-artificia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-artificia__container {
  background-image: var(--artificia-gradient);
  -webkit-box-shadow: inset 3px 4px 10px #111;
          box-shadow: inset 3px 4px 10px #111;
  border-radius: 15px 50px;
  min-height: 30rem;
  position: relative;
  margin: 4rem 4rem;
  max-width: 80vw;
  max-width: 800px;
}

.section-artificia__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 2rem 10rem 3rem 3rem;
  color: var(--color-gray-dark-1);
}

.section-artificia__left--title {
  font-family: "ultraregular", sans-serif;
  color: var(--artificia-blue);
  text-shadow: var(--artificia-blue-text-glow);
  font-size: 4rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.section-artificia__left--description {
  font-size: 1.5rem;
  font-family: "Aldrich", sans-serif;
}

.section-artificia__right {
  position: absolute;
  top: 0;
  right: -18rem;
  height: 110%;
  max-height: 550px;
}

.section-artificia__right--lunaimage {
  height: 100%;
}

.btn--artificia {
  margin-top: 2rem;
  min-width: 30rem;
  max-width: 40vw;
  font-family: "Aldrich", sans-serif;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.btn--artificia, .btn--artificia:link, .btn--artificia:visited {
  background-color: var(--color-primary);
  color: #3f3f3f;
  text-decoration: none;
  padding: 1.5rem 4rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5rem 10rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  font-size: 1.6rem;
}

.btn--artificia:hover {
  -webkit-transform: translateY(-0.3rem);
          transform: translateY(-0.3rem);
  -webkit-animation: textglow 2s ease-in-out infinite;
          animation: textglow 2s ease-in-out infinite;
  -webkit-box-shadow: var(--shadow-dark);
          box-shadow: var(--shadow-dark);
  background-color: var(--color-primary-light);
}

.btn--artificia:active, .btn--artificia:focus {
  -webkit-transform: translateY(-0.1rem);
          transform: translateY(-0.1rem);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

@-webkit-keyframes textglow {
  0% {
    color: #93f7eb;
  }
  50% {
    color: #57918a;
  }
  100% {
    color: #93f7eb;
  }
}

@keyframes textglow {
  0% {
    color: #93f7eb;
  }
  50% {
    color: #57918a;
  }
  100% {
    color: #93f7eb;
  }
}

.section-us {
  background-color: aliceblue;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-us__title {
  font-family: "Laila", sans-serif;
  text-align: center;
  font-size: 4rem;
  font-weight: 300;
  color: var(--color-primary-dark);
  padding: 5rem 0 0 0rem;
}

.section-us__container {
  color: var(--color-gray-dark-2);
  padding: 5rem 0 0 0rem;
  font-size: 2rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 2rem;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
}

.section-us__container2 {
  color: var(--color-gray-dark-2);
  padding: 5rem 0 0 0rem;
  font-size: 2rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(35rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  grid-gap: 2rem;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
}

.section-us__profiles {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr 2fr;
      grid-template-rows: 1fr 1fr 2fr;
  text-align: center;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 7rem;
  margin-bottom: 25rem;
}

.section-us__profiles--title {
  font-family: "Laila", sans-serif;
  color: var(--color-primary);
}

.section-us__profiles--title2 {
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
  font-weight: 300;
  color: var(--color-gray-dark-2);
  padding-bottom: 1rem;
}

.section-us__profiles--img {
  border-radius: 50rem;
  -webkit-box-shadow: 0 1rem 2rem rgba(68, 68, 68, 0.2);
          box-shadow: 0 1rem 2rem rgba(68, 68, 68, 0.2);
  border: 2px solid var(--color-primary-dark);
  height: 100%;
  -webkit-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
}

.section-us__profiles--img:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-box-shadow: 0 1rem 2rem rgba(68, 68, 68, 0.4);
          box-shadow: 0 1rem 2rem rgba(68, 68, 68, 0.4);
}

.section-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-social__container {
  background-color: aliceblue;
  border-radius: 15px;
  min-height: 20rem;
  padding-bottom: 2rem;
  position: relative;
  margin: 4rem 4rem;
  min-width: 40vw;
  max-width: 80vw;
  max-width: 800px;
}

.section-social__item {
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
  text-decoration: none;
  list-style-type: none;
  position: relative;
}

.section-social__item, .section-social__item:link, .section-social__item:visited {
  text-decoration: none;
  color: var(--color-gray-dark-3);
}

.section-social__item .section-social__body--icon-box {
  position: relative;
}

.section-social__item .section-social__body--icon-box .icon_thing {
  position: absolute;
  -webkit-transform: translate(220%, -50%);
          transform: translate(220%, -50%);
  z-index: 100;
}

.section-social .final-btn::after {
  content: "";
  position: absolute;
  background-color: aliceblue;
  height: 7vh;
  width: 17vw;
  -webkit-clip-path: polygon(50% 100%, 25% 0, 75% 0%);
          clip-path: polygon(50% 100%, 25% 0, 75% 0%);
  left: 54%;
  top: 80px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.section-social__title {
  font-family: "Laila", sans-serif;
  text-align: center;
  font-size: 3rem;
  font-weight: 300;
  color: var(--color-primary-dark);
  padding-top: 3rem;
}

.section-social__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--color-gray-dark-2);
  padding-bottom: 2rem;
  font-size: 2rem;
}

.section-social__body--button {
  margin-right: 1rem;
}

.section-social__body--button-text {
  margin-left: 1rem;
}

.section-social__body--button, .section-social__body--button:link, .section-social__body--button:visited {
  background-color: var(--color-primary);
  color: #3f3f3f;
  padding: 1.5rem 5rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5rem 10rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-transform: translateX(5%);
          transform: translateX(5%);
  font-size: 1.6rem;
}

.section-social__body--button:hover {
  background-color: var(--color-primary-light);
}

.footer {
  background-color: var(--color-gray-dark-3);
  padding-top: 2rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 1rem;
}

.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__love {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.5rem;
  padding-bottom: 1.5rem;
  text-align: center;
}

.footer__copyright {
  font-size: 1.25rem;
  padding: 1.5rem 2rem;
}

.footer__social {
  padding-top: 2rem;
  padding-right: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer__social--logo {
  font-size: 4rem;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.footer__social--logo, .footer__social--logo:link, .footer__social--logo:visited {
  color: var(--color-gray-light-2);
  -webkit-box-shadow: var(--color-gray-dark-3);
          box-shadow: var(--color-gray-dark-3);
}

.footer__social--logo:hover {
  color: var(--color-primary);
  -webkit-box-shadow: var(--shadow-dark);
          box-shadow: var(--shadow-dark);
}

.header-artificia {
  height: 100vh;
  overflow: hidden;
}

.header-banner {
  margin-top: 4rem;
}

.header-subtitle {
  font-family: "Aldrich", sans-serif;
  margin-top: -2.5rem;
  font-size: 2rem;
  text-align: center;
  color: var(--artificia-blue-dark);
}

.banner-box {
  left: 60%;
  top: 30%;
  position: absolute;
  z-index: 120;
  height: 550px;
  max-width: 500px;
  background-image: var(--artificia-gradient);
  -webkit-box-shadow: inset 5px 8px 10px #000;
          box-shadow: inset 5px 8px 10px #000;
  border-radius: 15px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-text {
  margin: 1rem 2rem;
  text-align: center;
  font-size: 1.75rem;
  color: var(--color-gray-light-4);
  font-family: "aldrich", sans-serif;
}

.box {
  position: absolute;
  -webkit-perspective: 400px;
          perspective: 400px;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: -webkit-perspective 5s;
  transition: -webkit-perspective 5s;
  transition: perspective 5s;
  transition: perspective 5s, -webkit-perspective 5s;
}

.fore-box {
  z-index: 10;
}

.bg-box {
  z-index: 5;
}

.img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  -webkit-transition: all 5s;
  transition: all 5s;
}

.fore {
  z-index: 10;
  background-image: url("../img/bg_fg.png");
  background-size: cover;
}

.bg {
  background-image: url("../img/bg.png");
  -webkit-transform: translateZ(50px);
          transform: translateZ(50px);
  background-size: cover;
}

.box.on .fore {
  -webkit-transform: translateZ(75px);
          transform: translateZ(75px);
}

.box.on .bg {
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  filter: blur(4px);
  -webkit-filter: blur(4px);
}

.section-suitors {
  border-top: 5px solid var(--artificia-blue-dark);
  border-bottom: 5px solid var(--artificia-blue);
}

.section-subtitle {
  text-align: center;
  font-size: 2rem;
  margin-top: 5rem;
  font-family: "aldrich", sans-serif;
  color: var(--color-gray-light-4);
}

.suitors-row-back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 483px;
  -webkit-transform: translateY(12%);
          transform: translateY(12%);
  position: relative;
  z-index: 100;
  border-bottom: 3px solid var(--artificia-blue-dark);
}

.suitors-row-front {
  height: 480px;
  margin-top: -25vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 105;
}

.sf {
  margin-left: -15px;
}

.lunagridcontainer {
  margin-top: 4rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 10px;
}

.lunatallcontainer {
  height: 650px;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1 / 2 / span 2 / span 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.lunasubcontainer {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 1 / 3 / span 1 / span 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-left: 5rem;
}

.luna-description {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / span 2 / span 1;
  margin: 4rem 7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.luna-description::before {
  content: "Tossed into political and legal turmoil";
  font-size: 2.5rem;
  color: var(--artificia-blue-dark);
}

.luna-description__text {
  font-size: 2rem;
  font-family: "aldrich", sans-serif;
  margin: 1.5rem auto;
}

.lunaprofilecontainer {
  height: 200px;
  position: relative;
}

.lunaprofilecontainer:last-child::after {
  content: "In-Game Profile View";
  color: var(--artificia-blue);
  font-family: "aldrich", sans-serif;
  font-size: 1.5rem;
  position: absolute;
  top: 200px;
  left: 20px;
}

.lunaimage {
  height: 100%;
  border-bottom: 1px solid var(--artificia-blue);
}

.landing-container {
  background-color: transparent;
  overflow: visible;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-title {
  word-spacing: 2.5rem;
  margin: 0 2.5rem;
  padding-top: 5rem;
  color: var(--artificia-blue);
  text-shadow: var(--artificia-blue-text-glow);
  font-size: 5rem;
  text-align: center;
  text-transform: uppercase;
  font-family: "ultraregular", sans-serif;
  font-weight: normal;
  font-style: normal;
}

.landing-text {
  color: var(--color-gray-dark-1);
  font-size: 1.5rem;
  text-align: center;
  font-family: "aldrich", sans-serif;
  font-weight: normal;
  font-style: normal;
}

.sectText {
  font-family: "Aldrich", sans-serif;
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 3rem;
  max-width: 600px;
}

.section-landing {
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.meow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 15rem 2rem;
  height: 450px;
}

.sectionHeaders {
  color: var(--artificia-blue);
  font-size: 3rem;
  text-align: center;
}

.imagebase {
  height: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.imagebase img {
  height: 100%;
}

.section-technical {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tech-img-container {
  margin-top: 4rem;
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.technical-img {
  height: 100%;
  border: 3px solid var(--color-primary);
  border-radius: 3rem;
  -webkit-box-shadow: 1 1 3rem rgba(0, 0, 0, 0.4);
          box-shadow: 1 1 3rem rgba(0, 0, 0, 0.4);
  display: none;
}

.technical-img-index {
  height: 100%;
  border: 3px solid var(--color-primary);
  border-radius: 3rem;
  -webkit-box-shadow: 1 1 3rem rgba(0, 0, 0, 0.4);
          box-shadow: 1 1 3rem rgba(0, 0, 0, 0.4);
  display: none;
}

.carousel-img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.carousel-container {
  position: relative;
}

.prev,
.next {
  position: absolute;
  font-size: 3rem;
  font-weight: bold;
  cursor: pointer;
  width: 50px;
  padding: 1rem;
  top: 50%;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  border-radius: 1rem 0 0 1rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 0 1rem 1rem 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

/* The dots underneath slideshow */
.dot {
  cursor: pointer;
  height: 1rem;
  width: 1rem;
  margin: 2rem 1.25rem;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.section-brooch {
  height: auto;
  width: 100%;
  padding-bottom: 7rem;
}

.section-brooch__container {
  margin-top: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.brooch-text {
  font-size: 2rem;
  font-family: "aldrich", sans-serif;
  text-align: center;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid var(--artificia-blue);
  border-radius: 2rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.brooch-text:hover {
  background-color: #353535;
  color: var(--color-gray-light-4);
}

.brooch-img-container {
  margin-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.brooch-img {
  height: auto;
  width: 100%;
  max-width: 500px;
}

.section-about {
  background-color: aliceblue;
  margin: 5rem 12rem;
  padding: 1rem 3rem;
  border-radius: 3rem;
}

.about-description {
  margin: auto;
}

.navbar--shrink {
  z-index: 10;
  height: 10px;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.navbar--shrink__title {
  font-size: 0rem;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.navbar--shrink__logo {
  height: 0rem;
}

.navbar--shrink__container--left {
  width: 40rem;
  margin-left: 2rem;
}

.navbar--shrink__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar--shrink__t {
  list-style-type: none;
}

.navbar--shrink__item {
  font-size: 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 2rem;
  text-decoration: none;
  list-style-type: none;
}

.navbar--shrink__item, .navbar--shrink__item:link, .navbar--shrink__item:visited {
  text-decoration: none;
  color: red;
}

.glitch {
  top: 5;
  position: absolute;
  mix-blend-mode: screen;
  z-index: 1;
  -webkit-transform: translate(5px, 4px);
          transform: translate(5px, 4px);
}

.r {
  -webkit-filter: hue-rotate(140deg);
          filter: hue-rotate(140deg);
  -webkit-transition-delay: 3s;
          transition-delay: 3s;
  z-index: 60;
  opacity: 20%;
  mix-blend-mode: difference;
}

.b {
  -webkit-filter: hue-rotate(300deg);
          filter: hue-rotate(300deg);
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
  z-index: 60;
  opacity: 20%;
  mix-blend-mode: difference;
}

.animateGlitchR {
  -webkit-animation: glitchR 0.5s infinite;
          animation: glitchR 0.5s infinite;
}

.animateGlitchB {
  -webkit-animation: glitchB 0.5s infinite;
          animation: glitchB 0.5s infinite;
}

@-webkit-keyframes glitchR {
  0%,
  100% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  50% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes glitchR {
  0%,
  100% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  50% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes glitchB {
  0%,
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
}

@keyframes glitchB {
  0%,
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
}

.nemo {
  -webkit-transform: translateX(800%);
          transform: translateX(800%);
  -webkit-transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  position: relative;
  -webkit-transition-delay: 0.9s;
          transition-delay: 0.9s;
}

.nemo:before {
  content: "Nemo,";
  background-color: var(--artificia-black);
  padding: 0 1rem;
  border-radius: 1rem;
  z-index: 120;
  white-space: pre-wrap;
  text-align: center;
  color: var(--artificia-blue);
  font-family: "aldrich", sans-serif;
  font-size: 2.25rem;
  position: absolute;
  top: -10px;
  left: 105px;
}

.nemo:after {
  content: "\AThe Brash Rebel Leader";
  background-color: var(--artificia-black);
  padding: 0 0.5rem;
  border-radius: 1rem;
  z-index: 115;
  white-space: pre-wrap;
  text-align: center;
  color: var(--artificia-blue);
  font-family: "aldrich", sans-serif;
  font-size: 1.5rem;
  position: absolute;
  top: 0px;
  left: 55px;
}

.zane {
  -webkit-transform: translateX(800%);
          transform: translateX(800%);
  -webkit-transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-transition-delay: 1.3s;
          transition-delay: 1.3s;
  position: relative;
}

.zane:before {
  content: "Zane,";
  background-color: var(--artificia-black);
  padding: 0 1rem;
  border-radius: 1rem;
  z-index: 120;
  white-space: pre-wrap;
  text-align: center;
  color: #cf4545;
  font-family: "aldrich", sans-serif;
  font-size: 2.25rem;
  position: absolute;
  top: -50px;
  left: 120px;
}

.zane:after {
  content: "\AThe Quiet Rebel Operative";
  background-color: var(--artificia-black);
  padding: 0 0.5rem;
  border-radius: 1rem;
  z-index: 115;
  white-space: pre-wrap;
  text-align: center;
  color: var(--artificia-blue);
  font-family: "aldrich", sans-serif;
  font-size: 1.5rem;
  position: absolute;
  top: -40px;
  left: 55px;
}

.petra {
  -webkit-transform: translateX(800%);
          transform: translateX(800%);
  -webkit-transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
  position: relative;
}

.petra:before {
  content: "Petra,";
  background-color: var(--artificia-black);
  padding: 0 1rem;
  border-radius: 1rem;
  z-index: 120;
  white-space: pre-wrap;
  text-align: center;
  color: #9c43d8;
  font-family: "aldrich", sans-serif;
  font-size: 2.25rem;
  position: absolute;
  top: 20px;
  left: 120px;
}

.petra:after {
  content: "\AThe Sly Rebel Stealth Agent";
  background-color: var(--artificia-black);
  padding: 0 0.5rem;
  border-radius: 1rem;
  z-index: 115;
  white-space: pre-wrap;
  text-align: center;
  color: var(--artificia-blue);
  font-family: "aldrich", sans-serif;
  font-size: 1.5rem;
  position: absolute;
  top: 30px;
  left: 50px;
}

.stercus {
  -webkit-transform: translateX(800%);
          transform: translateX(800%);
  -webkit-transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  position: relative;
}

.stercus:before {
  content: "Stercus,";
  background-color: var(--artificia-black);
  padding: 0 1rem;
  border-radius: 1rem;
  z-index: 120;
  white-space: pre-wrap;
  text-align: center;
  color: #d89c43;
  font-family: "aldrich", sans-serif;
  font-size: 2.25rem;
  position: absolute;
  top: -10px;
  left: 95px;
}

.stercus:after {
  content: "\A The Dysfunctional Shopkeeper";
  background-color: var(--artificia-black);
  padding: 0 0.5rem;
  border-radius: 1rem;
  z-index: 115;
  white-space: pre-wrap;
  text-align: center;
  color: var(--artificia-blue);
  font-family: "aldrich", sans-serif;
  font-size: 1.5rem;
  position: absolute;
  top: 0px;
  left: 35px;
}

.ilis {
  -webkit-transform: translateX(-800%);
          transform: translateX(-800%);
  -webkit-transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  position: relative;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.ilis:before {
  content: "Ilis,";
  background-color: var(--artificia-black);
  padding: 0 1rem;
  border-radius: 1rem;
  z-index: 120;
  white-space: pre-wrap;
  text-align: center;
  color: #4352d8;
  font-family: "aldrich", sans-serif;
  font-size: 2.25rem;
  position: absolute;
  top: -10px;
  left: 120px;
}

.ilis:after {
  content: "\A The Two-Faced Mystery";
  background-color: var(--artificia-black);
  padding: 0 0.5rem;
  border-radius: 1rem;
  z-index: 115;
  white-space: pre-wrap;
  text-align: center;
  color: var(--artificia-blue);
  font-family: "aldrich", sans-serif;
  font-size: 1.5rem;
  position: absolute;
  top: 0px;
  left: 50px;
}

.tom {
  -webkit-transform: translateX(-800%);
          transform: translateX(-800%);
  -webkit-transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
  position: relative;
}

.tom:before {
  content: "Tom,";
  background-color: var(--artificia-black);
  padding: 0 1rem;
  border-radius: 1rem;
  z-index: 120;
  white-space: pre-wrap;
  text-align: center;
  color: #7063e4;
  font-family: "aldrich", sans-serif;
  font-size: 2.25rem;
  position: absolute;
  top: -10px;
  left: 110px;
}

.tom:after {
  content: "\A The Musing Librarian";
  background-color: var(--artificia-black);
  padding: 0 0.5rem;
  border-radius: 1rem;
  z-index: 115;
  white-space: pre-wrap;
  text-align: center;
  color: var(--artificia-blue);
  font-family: "aldrich", sans-serif;
  font-size: 1.5rem;
  position: absolute;
  top: 0px;
  left: 60px;
}

.elina {
  -webkit-transform: translateX(-800%);
          transform: translateX(-800%);
  -webkit-transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-transition-delay: 1.5s;
          transition-delay: 1.5s;
  position: relative;
}

.elina:before {
  content: "Elina,";
  background-color: var(--artificia-black);
  padding: 0 1rem;
  border-radius: 1rem;
  z-index: 120;
  white-space: pre-wrap;
  text-align: center;
  color: #77da64;
  font-family: "aldrich", sans-serif;
  font-size: 2.25rem;
  position: absolute;
  top: 10px;
  left: 105px;
}

.elina:after {
  content: "\A The Charming Ambassador";
  background-color: var(--artificia-black);
  padding: 0 0.5rem;
  border-radius: 1rem;
  z-index: 115;
  white-space: pre-wrap;
  text-align: center;
  color: var(--artificia-blue);
  font-family: "aldrich", sans-serif;
  font-size: 1.5rem;
  position: absolute;
  top: 20px;
  left: 35px;
}

.heis {
  -webkit-transform: translateX(-800%);
          transform: translateX(-800%);
  -webkit-transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  position: relative;
  -webkit-transition-delay: 1.1s;
          transition-delay: 1.1s;
}

.heis:before {
  content: "Heis,";
  background-color: var(--artificia-black);
  padding: 0 1rem;
  border-radius: 1rem;
  z-index: 120;
  white-space: pre-wrap;
  text-align: center;
  color: #32c3ce;
  font-family: "aldrich", sans-serif;
  font-size: 2.25rem;
  position: absolute;
  top: -10px;
  left: 100px;
}

.heis:after {
  content: "\A The Stern Military Commander";
  background-color: var(--artificia-black);
  padding: 0 0.5rem;
  border-radius: 1rem;
  z-index: 115;
  white-space: pre-wrap;
  text-align: center;
  color: var(--artificia-blue);
  font-family: "aldrich", sans-serif;
  font-size: 1.5rem;
  position: absolute;
  top: 0px;
  left: 20px;
}

@media only screen and (max-width: 1777px) {
  .section-us__container2 {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (max-width: 1600px) {
  .luna-description {
    margin: 4rem 2rem;
  }
}

@media only screen and (max-width: 1450px) {
  .brooch-text {
    padding: 1rem;
  }
  .imagebase {
    height: 425px;
  }
  .imagebase img {
    width: 100%;
    height: auto;
  }
}

@media only screen and (max-width: 1406px) {
  .section-us__container2 {
    -ms-grid-columns: (30rem)[2];
        grid-template-columns: repeat(2, 30rem);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media only screen and (max-width: 1385px) {
  .section-us__container2 {
    -ms-grid-columns: (minmax(35rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  }
}

/* iPads to computers */
@media only screen and (max-width: 1200px) {
  .nav__item {
    font-size: 1.7rem;
    min-width: 86px;
  }
  .meow {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 2rem 1rem;
    height: 1000px;
  }
  .column-reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .imagebase {
    height: 700px;
    margin: 3rem auto;
  }
  .imagebase img {
    width: 100%;
    height: auto;
  }
  .tech-img-container {
    margin-top: 4rem;
    height: 500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .banner-box {
    left: 50%;
    margin-left: -250px;
    height: 450px;
    max-width: 500px;
  }
  .header-text {
    margin: 1rem 2rem;
    text-align: center;
    font-size: 1.5rem;
    color: var(--color-gray-light-4);
    font-family: "aldrich", sans-serif;
  }
  .suitorimage {
    margin: 0 -3rem;
  }
  .full1 {
    display: none;
  }
  .lunagridcontainer {
    -ms-grid-rows: 1fr 10px;
        grid-template-rows: 1fr 10px;
  }
  .luna-description {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 1 / 1 / 3 / 3;
  }
  .header__title {
    font-size: 5rem;
  }
  .header__body {
    font-size: 3rem;
  }
}

/* iPads: small tablet to big tablet held vertically  */
/* From 768px to 1023px */
@media only screen and (max-width: 1023px) {
  .nav__item {
    margin-right: 1rem;
    min-width: 75px;
  }
  .section-us__profiles {
    margin-bottom: 24rem;
  }
  .meow {
    height: auto;
  }
  .imagebase {
    height: auto;
  }
  .tech-img-container {
    margin-top: 4rem;
    height: 350px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .prev,
  .next {
    top: 40%;
    color: aliceblue;
  }
  .next {
    right: -2%;
  }
  .suitorimage {
    height: 300px;
    margin: 0;
  }
  .suitors-row-back {
    height: 300px;
  }
  .suitors-row-back img {
    height: 100%;
  }
  .suitors-row-front {
    height: 300px;
    margin-top: -10vh;
  }
  .suitors-row-front img {
    height: 100%;
  }
  .nemo::before {
    font-size: 2rem;
    top: -10px;
    left: 65px;
  }
  .nemo::after {
    font-size: 1rem;
    top: 5px;
    left: 40px;
  }
  .zane::before {
    font-size: 2rem;
    top: -30px;
    left: 65px;
  }
  .zane::after {
    font-size: 1rem;
    top: -15px;
    left: 30px;
  }
  .stercus::before {
    font-size: 2rem;
    top: -10px;
    left: 55px;
  }
  .stercus::after {
    font-size: 1rem;
    top: 5px;
    left: 20px;
  }
  .petra::before {
    font-size: 2rem;
    top: 10px;
    left: 60px;
  }
  .petra::after {
    font-size: 1rem;
    top: 25px;
    left: 25px;
  }
  .ilis::before {
    font-size: 2rem;
    top: -10px;
    left: 65px;
  }
  .ilis::after {
    font-size: 1rem;
    top: 5px;
    left: 15px;
  }
  .tom::before {
    font-size: 2rem;
    top: -10px;
    left: 65px;
  }
  .tom::after {
    font-size: 1rem;
    top: 5px;
    left: 40px;
  }
  .heis::before {
    font-size: 2rem;
    top: -10px;
    left: 60px;
  }
  .heis::after {
    font-size: 1rem;
    top: 5px;
    left: 10px;
  }
  .elina::before {
    font-size: 2rem;
    top: -10px;
    left: 60px;
  }
  .elina::after {
    font-size: 1rem;
    top: 5px;
    left: 20px;
  }
  .header__title {
    font-size: 5rem;
  }
  .header__body {
    font-size: 2.75rem;
  }
  .section-us__container {
    padding-bottom: 3rem;
  }
}

/* Small phones to small tablets: from 481 to (originally-- changed 3.24.21) 767px */
@media only screen and (max-width: 860px) {
  .meow {
    height: auto;
  }
  .imagebase {
    height: auto;
  }
  .section-landing .sectionHeaders {
    font-size: 2.25rem;
  }
  .brooch-text {
    font-size: 1.75rem;
  }
  .header-artificia {
    height: 800px;
  }
  .img {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 800px;
    -webkit-transition: all 5s;
    transition: all 5s;
  }
  .fore {
    display: none;
  }
  .box {
    position: absolute;
    -webkit-perspective: 400px;
            perspective: 400px;
    width: 100vw;
    height: 800px;
    overflow: hidden;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-transition: -webkit-perspective 5s;
    transition: -webkit-perspective 5s;
    transition: perspective 5s;
    transition: perspective 5s, -webkit-perspective 5s;
  }
  .banner-box {
    left: 50%;
    margin-left: -250px;
    height: 600px;
  }
  .header-text {
    font-size: 1.8rem;
  }
  .section-subtitle {
    font-size: 2rem;
    margin: 3rem 2rem;
  }
  .header-title-insert {
    font-size: 5rem;
  }
  .header-subtitle-insert {
    font-size: 3rem;
    height: auto;
  }
  .header__title {
    font-size: 4rem;
  }
  .header__body {
    font-size: 2.5rem;
    line-height: 3rem;
  }
  .section-social__item {
    max-width: 300px;
  }
}

@media only screen and (max-width: 750px) {
  .section-title {
    font-size: 4rem;
  }
  .section-subtitle {
    font-size: 1.5rem;
  }
  .lunagridcontainer {
    -ms-grid-rows: 200px 1fr;
        grid-template-rows: 200px 1fr;
  }
  .luna-description {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: 2 / 1 / 2 / 4;
  }
  .luna-description::before {
    font-size: 2rem;
    text-align: center;
  }
  .luna-description__text {
    font-size: 1.5rem;
  }
  .suitorimage {
    margin: 0 -1rem;
  }
  .lunasubcontainer {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: 1 / 1 / 3 / 4;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
  }
  .section-social__item {
    font-size: 1.75rem;
    margin: 2rem 2rem 0.25rem 2rem;
  }
}

@media only screen and (max-width: 685px) {
  .section-about {
    margin: 3rem 1rem;
  }
  .nav__title {
    font-size: 3rem;
    line-height: 3rem;
  }
  .nav__container {
    margin-left: 1rem;
  }
  .suitorimage {
    height: 200px;
    margin: 0;
  }
  .suitors-row-back {
    height: 200px;
  }
  .suitors-row-back img {
    height: 100%;
  }
  .suitors-row-front {
    height: 200px;
    margin-top: 0vh;
  }
  .suitors-row-front img {
    height: 100%;
  }
  .nemo::before {
    font-size: 1.75rem;
    top: -25px;
    left: 25px;
  }
  .nemo::after {
    font-size: 1rem;
    top: -15px;
    left: -5px;
  }
  .zane::before {
    font-size: 1.75rem;
    top: -50px;
    left: 35px;
  }
  .zane::after {
    font-size: 1rem;
    top: -40px;
    left: 5px;
  }
  .stercus::before {
    font-size: 1.75rem;
    top: -45px;
    left: 20px;
  }
  .stercus::after {
    font-size: 1rem;
    top: -30px;
    left: 10px;
  }
  .petra::before {
    font-size: 1.75rem;
    top: -15px;
    left: 25px;
  }
  .petra::after {
    font-size: 1rem;
    top: -5px;
    left: 0px;
  }
  .ilis::before {
    font-size: 1.75rem;
    top: -45px;
    left: 40px;
  }
  .ilis::after {
    font-size: 1rem;
    top: -30px;
    left: 10px;
  }
  .tom::before {
    font-size: 1.75rem;
    top: -25px;
    left: 40px;
  }
  .tom::after {
    font-size: 1rem;
    top: -10px;
    left: 10px;
  }
  .heis::before {
    font-size: 1.75rem;
    top: -35px;
    left: 35px;
  }
  .heis::after {
    font-size: 1rem;
    top: -25px;
    left: 5px;
  }
  .elina::before {
    font-size: 1.75rem;
    top: -30px;
    left: 35px;
  }
  .elina::after {
    font-size: 1rem;
    top: -15px;
    left: 10px;
  }
  .header__title {
    font-size: 3rem;
    margin-bottom: 0.25rem;
  }
  .header__body {
    font-size: 2rem;
    line-height: 2rem;
  }
}

@media only screen and (max-width: 620px) {
  .nav__title {
    font-size: 2.5rem;
  }
  .section-us__profiles--title2 {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .brooch-text {
    font-size: 1.5rem;
    padding: 0.75rem;
  }
  .tech-img-container {
    height: 300px;
  }
  .prev,
  .next {
    top: 50%;
  }
  .dot {
    height: 0.5rem;
    width: 0.5rem;
  }
  .header-banner img {
    width: 325px;
  }
  .banner-box {
    margin-left: -200px;
    max-width: 400px;
  }
}

@media only screen and (max-width: 540px) {
  .sectionHeaders {
    font-size: 2.5rem;
  }
  .sectText {
    font-size: 1.8rem;
  }
  .tech-img-container {
    width: 300px;
  }
  .section-title {
    font-size: 4rem;
    line-height: 4.5rem;
    margin: 0 1rem;
    text-align: center;
  }
  .suitorimage {
    margin: 0 -1rem;
  }
  .suitorimage {
    height: 175px;
    margin: 0;
  }
  .suitors-row-back {
    height: 175px;
    margin-top: 100px;
  }
  .suitors-row-back img {
    height: 100%;
  }
  .suitors-row-front {
    height: 175px;
    margin-top: 3vh;
  }
  .suitors-row-front img {
    height: 100%;
  }
  .nemo::before {
    font-size: 1.75rem;
    top: -40px;
    left: 22px;
  }
  .nemo::after {
    font-size: 1rem;
    top: -30px;
    left: 19px;
    max-width: 8rem;
  }
  .zane::before {
    font-size: 1.75rem;
    top: -50px;
    left: 22px;
  }
  .zane::after {
    font-size: 1rem;
    top: -40px;
    left: 8px;
    max-width: 9.5rem;
  }
  .stercus::before {
    font-size: 1.75rem;
    top: -45px;
    left: 12px;
  }
  .stercus::after {
    font-size: 1rem;
    top: -30px;
    left: 5px;
    max-width: 11rem;
  }
  .petra::before {
    font-size: 1.75rem;
    top: -20px;
    left: 18px;
  }
  .petra::after {
    font-size: 1rem;
    top: -10px;
    left: 10px;
    max-width: 9rem;
  }
  .ilis::before {
    font-size: 1.75rem;
    top: -45px;
    left: 30px;
  }
  .ilis::after {
    font-size: 1rem;
    top: -30px;
    left: 10px;
    max-width: 9rem;
  }
  .tom::before {
    font-size: 1.75rem;
    top: -30px;
    left: 30px;
  }
  .tom::after {
    font-size: 1rem;
    top: -20px;
    left: 18px;
    max-width: 8rem;
  }
  .heis::before {
    font-size: 1.75rem;
    top: -35px;
    left: 27px;
  }
  .heis::after {
    font-size: 1rem;
    top: -25px;
    left: 3px;
    max-width: 10.5rem;
  }
  .elina::before {
    font-size: 1.75rem;
    top: -30px;
    left: 23px;
  }
  .elina::after {
    font-size: 1rem;
    top: -15px;
    left: 10px;
    max-width: 9rem;
  }
  .nav {
    height: 6rem;
    padding-top: 0.5rem;
  }
  .nav__logo {
    height: 5rem;
  }
  .nav__title {
    font-size: 2rem;
  }
  .banner-box {
    top: 20%;
  }
  .header__description {
    height: 30%;
    width: 55%;
    top: 75%;
    left: 30%;
  }
  .header__title {
    font-size: 3rem;
    margin-bottom: -0.25rem;
  }
  .header__body {
    font-size: 2rem;
    line-height: 2rem;
  }
}

@media only screen and (max-width: 500px) {
  .nav__title {
    display: none;
  }
  .lunagridcontainer {
    -ms-grid-rows: 150px 1fr;
        grid-template-rows: 150px 1fr;
  }
  .tech-img-container {
    width: 275px;
    height: 250px;
  }
  .header {
    border-top: none;
  }
  .header-title-insert {
    font-size: 4rem;
  }
  .header-subtitle-insert {
    font-size: 2.5rem;
    line-height: 2.4rem;
    height: auto;
    padding: 1.5rem;
  }
  .box {
    height: 600px;
  }
  .header-artificia {
    height: 600px;
  }
  .banner-box {
    top: 15%;
    left: 50%;
    margin-left: -150px;
    height: 450px;
    max-width: 300px;
  }
  .header-subtitle {
    font-size: 1.75rem;
  }
  .header-text {
    font-size: 1.25rem;
  }
  .header-banner img {
    width: 275px;
  }
}

@media only screen and (max-width: 450px) {
  .nav__title {
    display: none;
  }
}

/* Small phones: from 0 to 480px */
@media only screen and (max-width: 420px) {
  .footer {
    -ms-grid-columns: (125px)[3];
        grid-template-columns: repeat(3, 125px);
    grid-row-gap: 0.5rem;
  }
  .nav__item {
    margin-right: 0;
    font-size: 1.7rem;
    min-width: 65px;
    font-size: 1.4rem;
  }
  .nav__t:last-child {
    margin-right: 1rem;
  }
  .section-us__container2 {
    font-size: 1.75rem;
    -ms-grid-columns: (minmax(20rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  }
  .brooch-img-container {
    width: 300px;
    margin: 0 auto;
  }
  .section-brooch__container {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .section-title {
    font-size: 3.5rem;
  }
  .lunaprofilecontainer {
    height: 150px;
  }
  .lunaprofilecontainer:last-child::after {
    content: "";
  }
  .suitorimage {
    margin: 0 -1.5rem;
    height: 175px;
  }
  .suitors-row-back {
    height: 175px;
    margin-top: 100px;
  }
  .suitors-row-back img {
    height: 100%;
  }
  .suitors-row-front {
    height: 175px;
    margin-top: 3vh;
  }
  .suitors-row-front img {
    height: 100%;
  }
  .nemo::before {
    font-size: 1.75rem;
    top: -40px;
    left: 25px;
  }
  .nemo::after {
    font-size: 1rem;
    top: -30px;
    left: 20px;
    max-width: 8rem;
  }
  .zane::before {
    font-size: 1.75rem;
    top: -50px;
    left: 28px;
  }
  .zane::after {
    font-size: 1rem;
    top: -40px;
    left: 20px;
    max-width: 9.5rem;
  }
  .stercus::before {
    font-size: 1.75rem;
    top: 80px;
    left: 0px;
  }
  .stercus::after {
    font-size: 1rem;
    top: 90px;
    left: -10px;
    max-width: 11rem;
  }
  .petra::before {
    font-size: 1.75rem;
    top: 90px;
    left: 18px;
  }
  .petra::after {
    font-size: 1rem;
    top: 100px;
    left: 10px;
    max-width: 9rem;
  }
  .ilis::before {
    font-size: 1.75rem;
    top: 80px;
    left: 30px;
  }
  .ilis::after {
    font-size: 1rem;
    top: 90px;
    left: 15px;
    max-width: 10rem;
  }
  .tom::before {
    font-size: 1.75rem;
    top: 90px;
    left: 30px;
  }
  .tom::after {
    font-size: 1rem;
    top: 100px;
    left: 18px;
    max-width: 8rem;
  }
  .heis::before {
    font-size: 1.75rem;
    top: -35px;
    left: 15px;
  }
  .heis::after {
    font-size: 1rem;
    top: -25px;
    left: 0px;
    max-width: 11rem;
  }
  .elina::before {
    font-size: 1.75rem;
    top: -30px;
    left: 18px;
  }
  .elina::after {
    font-size: 1rem;
    top: -15px;
    left: 5px;
    max-width: 9rem;
  }
  .header__description {
    height: 30%;
    width: 90%;
    top: 75%;
    left: 50%;
  }
  .header__title {
    font-size: 4rem;
    margin-bottom: -0.25rem;
  }
  .header__body {
    font-size: 2.25rem;
    line-height: 2rem;
  }
  .section-artificia__container {
    width: 325px;
  }
  .section-artificia__left {
    padding: 2rem;
    margin: 0 2rem;
  }
  .section-artificia__right {
    position: absolute;
    top: 0;
    right: -18rem;
    height: 110%;
    max-height: 550px;
  }
  .section-artificia__right--lunaimage {
    display: none;
  }
  .section-us__profiles:last-child {
    margin-bottom: 35rem;
  }
  .btn--artificia {
    min-width: 20rem;
  }
  .section-social .final-btn::after {
    width: 75px;
    top: 90px;
  }
  .section-social__container {
    margin: 2rem -1rem;
  }
  .section-social__title {
    margin: 1rem 1rem;
  }
  .section-social__body--button {
    font-size: 1.35rem;
  }
  .section-social__item {
    font-size: 1.5rem;
  }
  .section-social__item, .section-social__item:link, .section-social__item:visited {
    text-decoration: none;
    text-align: center;
  }
}

@media only screen and (max-width: 360px) {
  .lunagridcontainer {
    -ms-grid-rows: 100px 1fr;
        grid-template-rows: 100px 1fr;
  }
  .lunaprofilecontainer {
    height: 100px;
  }
  .banner-box {
    top: 15%;
    left: 50%;
    margin-left: -125px;
    height: 450px;
    max-width: 250px;
  }
  .header-banner img {
    width: 250px;
  }
  .header-subtitle {
    font-size: 1.5rem;
  }
  .about-description {
    margin: 3rem auto;
  }
  .header__description {
    height: 30%;
    width: 90%;
    top: 75%;
    left: 50%;
  }
  .header__title {
    font-size: 3rem;
    margin-bottom: -0.25rem;
  }
  .header__body {
    font-size: 2rem;
    line-height: 2rem;
  }
  .footer {
    -ms-grid-columns: (100px)[3];
        grid-template-columns: repeat(3, 100px);
    grid-row-gap: 0.5rem;
  }
}
/*# sourceMappingURL=main.css.map */